<!DOCTYPE html>
<html>
	<head>
		<title>Comments</title>
			<meta name="viewport" content="width=device-width, initial-scale=1">
            <link href="https://fonts.googleapis.com/css?family=Lemon&display=swap" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">        
	</head>
	<body id="body">
	    <style>
			body{
				font-family:'Lemon',cursive;
				background-color:#ffffff;
				overflow-x: hidden;
			}
			.gotopage{
				color:black;
	            background-color:#ddd;
	            height:35px;
	            width:70px auto;
	            border-radius:5px;
	            border-width:0;
	            border: 2px solid black;
			}
			.style{
                 float: none;
                 color: black;
                 padding: 16px;
                 text-decoration: none;
                 display: block;
                 text-align: left;
			}
		</style>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/"> Home </a>
				<a class="navbar-brand" href="/posts"> Posts </a>
			</div>
		</div>
	</nav>
		<div class="jumbotron">
			<h1 align = "center">Comments</h1>
			<div align="center">Add your comments or suggestions of the post <%=posts.name%>!</div><br>
			<div align="center">
			</div>
		</div>
		<hr>
		<%for(i = 0;i < comments.length;i++){%>
            <h5>
				<%=comments[i].author%> - <%=comments[i].comment%> 
		    </h5>
		<%}%>
		<script>
			var reload = setInterval(function(){window.location.reload();}, 5000);
		</script>
	</body>
</html>