 <!DOCTYPE html>
<html>
<head>
<title>Text Repeater</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Lemon&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="/app.css">
</head>
<body>
	<h1>The text you typed in the URL was: <bold style="text-decoration:underline;">/repeat/<%= word %></bold></h1>
	<% if(word.toLowerCase() === "siddharth"){ %>
	    <p>Wow! Good Choice It's My Name..</p>
	<% }else{ %>
	    <p>Good! But Can Write in the URL: "/repeat/Siddharth"</p>
	<%}%>
	<a href="https://wdbapp2.run-ap-south1.goorm.io/posts"><button class="gotopage">Go To the Posts Page</button></a>
</body>
</html>
