<!DOCTYPE html>
<html>
	<head>
		<title>Error..Page Not Found</title>
			<meta name="viewport" content="width=device-width, initial-scale=1">
            <link href="https://fonts.googleapis.com/css?family=Lemon&display=swap" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
				    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	</head>
	<body>
	    <style>
			body{
				font-family:'Lemon',cursive;
				background-color:#ffffff;
			}
		</style>
         <div class="jumbotron">
			 <h1 align="center"  style="font-family:'Lemon',cursive;">
				 Error...
			 </h1>
			 <div align="center"  style="font-family:'Lemon',cursive;">
				 Sorry, Page not Found!! Try another ROUTE! 
			 </div><br>
			 <div align="center"  style="font-family:'Lemon',cursive;">
			 <a href="/posts"><button class="btn btn-primary btn-lg" style="font-family:'Lemon',cursive;">
				 Go to our Posts page!
			 </button></a>
			 </div>
		</div>
		<h4 style="font-family:'Lemon',cursive;">
			Error: The route you typed can't be found.
		</h4>
		<hr>
	</body>
</html>